nodered/flows.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "price_tab",
        "type": "tab",
        "label": "🔄 Auto Price Update",
        "disabled": false
    },
    {
        "id": "postgres_config",
        "type": "postgreSQLConfig",
        "name": "Crypto DB",
        "host": "postgres",
        "hostFieldType": "str",
        "port": "5432",
        "portFieldType": "num",
        "database": "crypto_portfolio",
        "databaseFieldType": "str",
        "ssl": "false",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": "10",
        "maxFieldType": "num",
        "idle": "1000",
        "idleFieldType": "num",
        "connectionTimeout": "10000",
        "connectionTimeoutFieldType": "num",
        "user": "crypto_user",
        "userFieldType": "str",
        "password": "mon_mot_de_passe_postgres_fort",
        "passwordFieldType": "str"
    },
    {
        "id": "manual_trigger",
        "type": "inject",
        "z": "price_tab",
        "name": "🔄 Trigger Manuel",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 60,
        "wires": [
            [
                "get_coins"
            ]
        ]
    },
    {
        "id": "auto_trigger",
        "type": "inject",
        "z": "price_tab",
        "name": "⏰ Auto (5 min)",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "get_coins"
            ]
        ]
    },
    {
        "id": "get_coins",
        "type": "postgresql",
        "z": "price_tab",
        "name": "Get Coins from DB",
        "query": "SELECT DISTINCT coin_symbol FROM holdings",
        "postgreSQLConfig": "postgres_config",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 350,
        "y": 80,
        "wires": [
            [
                "prepare_api_call"
            ]
        ]
    },
    {
        "id": "prepare_api_call",
        "type": "function",
        "z": "price_tab",
        "name": "Prepare CoinGecko URL",
        "func": "const coinMapping = {\n    'BTC': 'bitcoin',\n    'ETH': 'ethereum',\n    'USDC': 'usd-coin',\n    'USDT': 'tether',\n    'PAXG': 'pax-gold',\n    'POL': 'polygon-ecosystem-token',\n    'MATIC': 'matic-network',\n    'DOGE': 'dogecoin',\n    'KASPA': 'kaspa',\n    'SOL': 'solana',\n    'ONDO': 'ondo-finance',\n    'ARBITRUM': 'arbitrum',  // Pour Arbitrum One\n    // Coins populaires supplémentaires\n    'BNB': 'binancecoin',\n    'XRP': 'ripple',\n    'ADA': 'cardano',\n    'AVAX': 'avalanche-2',\n    'DOT': 'polkadot',\n    'LINK': 'chainlink',\n    'UNI': 'uniswap',\n    'ATOM': 'cosmos',\n    'LTC': 'litecoin',\n    'DAI': 'dai',\n    'SHIB': 'shiba-inu',\n    'TRX': 'tron',\n    'WBTC': 'wrapped-bitcoin'\n};\n\nconst coins = msg.payload.map(row => row.coin_symbol);\nnode.warn(`📊 Coins trouvés: ${coins.join(', ')}`);\n\nconst coinIds = [];\nconst unknownCoins = [];\n\nfor (const symbol of coins) {\n    const coinId = coinMapping[symbol];\n    if (coinId) {\n        coinIds.push(coinId);\n    } else {\n        unknownCoins.push(symbol);\n    }\n}\n\nif (unknownCoins.length > 0) {\n    node.warn(`⚠️ Coins non mappés (pas de prix): ${unknownCoins.join(', ')}`);\n    node.warn(`💡 Vérifiez l'orthographe ou ajoutez-les au mapping`);\n}\n\nif (coinIds.length === 0) {\n    node.warn('❌ Aucun coin reconnu');\n    return null;\n}\n\nconst ids = coinIds.join(',');\nmsg.url = `https://api.coingecko.com/api/v3/simple/price?ids=${ids}&vs_currencies=usd,eur`;\nmsg.coinMapping = coinMapping;\n\nnode.warn(`🌐 ${coinIds.length} coins à mettre à jour`);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 80,
        "wires": [
            [
                "fetch_prices"
            ]
        ]
    },
    {
        "id": "fetch_prices",
        "type": "http request",
        "z": "price_tab",
        "name": "Fetch CoinGecko",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "x": 800,
        "y": 80,
        "wires": [
            [
                "parse_prices"
            ]
        ]
    },
    {
        "id": "parse_prices",
        "type": "function",
        "z": "price_tab",
        "name": "Parse Prices",
        "func": "const prices = msg.payload;\nconst coinMapping = msg.coinMapping;\n\nconst idToSymbol = {};\nfor (const [symbol, id] of Object.entries(coinMapping)) {\n    idToSymbol[id] = symbol;\n}\n\nconst updates = [];\nfor (const [coinId, data] of Object.entries(prices)) {\n    const symbol = idToSymbol[coinId];\n    if (!symbol) continue;\n    \n    updates.push({\n        symbol: symbol,\n        usd: data.usd || 0,\n        eur: data.eur || 0\n    });\n    \n    node.warn(`💰 ${symbol}: $${data.usd.toLocaleString()}`);\n}\n\nmsg.payload = updates;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 80,
        "wires": [
            [
                "split_prices"
            ]
        ]
    },
    {
        "id": "split_prices",
        "type": "split",
        "z": "price_tab",
        "name": "Split",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 1150,
        "y": 80,
        "wires": [
            [
                "update_db"
            ]
        ]
    },
    {
        "id": "update_db",
        "type": "postgresql",
        "z": "price_tab",
        "name": "Update Price in DB",
        "query": "INSERT INTO crypto_prices (coin_symbol, price_usd, price_eur, source, last_updated)\nVALUES ('{{msg.payload.symbol}}', {{msg.payload.usd}}, {{msg.payload.eur}}, 'coingecko', NOW())\nON CONFLICT (coin_symbol) \nDO UPDATE SET \n    price_usd = {{msg.payload.usd}},\n    price_eur = {{msg.payload.eur}},\n    source = 'coingecko',\n    last_updated = NOW()",
        "postgreSQLConfig": "postgres_config",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 320,
        "y": 160,
        "wires": [
            [
                "success_log"
            ]
        ]
    },
    {
        "id": "success_log",
        "type": "debug",
        "z": "price_tab",
        "name": "✅ Success",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 160,
        "wires": []
    },
    {
        "id": "8041972086c0aafb",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-postgresql": "0.15.4"
        }
    }
]
